<!DOCTYPE html>

<!--<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log in with your account</title>

    <link href="css/common.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<section>
    <div class="jumbotron">
        <div class="container">
            <img src="images\helpdesk.png" align="left" style="width:200px;">
            <h1>Help Desk</h1>
            <h3 style="font-size: 165%; padding-left:250px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #A7620A">
                <b>Support 24h</b></h3>

            <form method="post" action="#" th:action="@{/login}" class="form-signin">
                <h2 class="form-heading">Log in</h2>

                <div class="form-group ${error != null ? 'has-error' : ''}">

                    <span class="text-danger" th:text="${message}"></span>
                    <input name="username" type="text" class="form-control" placeholder="Username"
                           autofocus="true"/>
                    <input name="password" type="password" class="form-control" placeholder="Password"/>
                    <span class="text-danger" th:text="${error}"></span>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
                                        <h4 class="text-center"><a href="#" th:href="@{/registration}">Create an account</a></h4>

                </div>
            </form>
        </div>
    </div>
</section>

<script src="js/bootstrap.min.js"></script>

</body>
</html>
